@model List<UserReservationViewModel>

@{
    ViewData["Title"] = "My Reservations";
}

<h2 class="heading-margin text-center">My Reservations</h2>

@{
    foreach (var reservation in Model)
    {
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">@reservation.HotelName</h3>
                </div>
                <div class="card-body reservation">
                    <span class="span"><b>Date Period</b> : @reservation.StartDate - @reservation.EndDate</span>
                    <span class="span"><b>Room Category</b> : @reservation.RoomCategory</span>
                    <span class="span"><b>Guest Name</b> : @reservation.GuestName</span>
                    <span class="span"><b>Price</b> : @reservation.TotalPrice</span>
                </div>
            </div>
        </div>
    }
}