@model AddRoomViewModel
@{
    ViewBag.Title = "Add Room";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<div class="text-center">
    <h1>Add Room</h1>
</div>
<hr />
<form asp-action="Add" method="post" class="row g-3 bg-light p-2 text-dark bg-opacity-75">
    <input asp-for="@Model.HotelId" type="hidden" />
    <div class="col-md-6">
        <label asp-for="@Model.Description" class="form-label">Description</label>
        <input asp-for="@Model.Description" class="form-control" id="inputDescription" placeholder="Description..." aria-required="true">
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.RoomCategoryId" class="form-label">Room Category</label>
        <select asp-for="@Model.RoomCategoryId" class="form-control">
            @foreach (var type in Model.RoomCategories)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>
        <span asp-validation-for="@Model.RoomCategoryId" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Price" class="form-label">Price</label>
        <input asp-for="@Model.Price" class="form-control" aria-required="false" id="inputPrice" placeholder="120.00">
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Capacity" class="form-label">Capacity</label>
        <input asp-for="@Model.Capacity" class="form-control" id="inputCapacity" placeholder="3" aria-required="true">
        <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="@Model.ImageURL" class="form-label">ImageUrl</label>
        <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" placeholder="https://img.freepik.com/premium-photo/kitten-white-background-gray-kitten_767502-2113.jpg?w=900" id="inputImageUrl">
        <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
    </div>

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Add Room</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}